$text-alignment:center;

h1 {
    color: white;
    background-color: deeppink;
    text-align: $text-alignment;
}

h5 {
    text-align: $text-alignment;
    background-color: pink;
    color: deeppink;
}

.col-4, .col-8 {
    text-align: $text-alignment;
}

#hobby-container {
    margin: 40px
}

#favourites_intro {
    text-align: $text-alignment;
}


h5 {
    a {
        color: white;
    }
    a:hover {
        color: deeppink;
    }
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

%message {
    color: deeppink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    font-weight: bold;
}

.klipper {
    @extend %message;
    background-color: antiquewhite;
}

.wolfert {
    @extend %message;
    background-color: yellowgreen;
}

.uva {
    @extend %message;
    background-color: yellow;
}